<br>
<br>
<div class="container">
  <div class="col-md-6 offset-md-3">

    <div class="card">
      <div class="card-body">
        <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
          <input type="text" placeholder="Email address" (ngModel)="email" name="email" class="form-control" required>
          <input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
          <button type="submit" [disabled]="!formData.valid" class="btn btn btn-outline-info btn-lg btn-block">Log in</button>
        </form>
        
      </div>
    </div>
  </div>