<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    
     <app-sidebar></app-sidebar>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Clientes</h1>
      <hr>
      <br>
      <br>
      <div class="container">

        <!-- <button type="button" class="btn btn-info">Adicionar Cliente
          <span data-feather="plus"></span>
        </button> -->
         <app-modal></app-modal>
         
        <br>
      <div class="row">
       
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Endereço</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes | async" >
              <th scope="row">1</th>
              <td>{{cliente.nome}}</td>
              <td>{{cliente.endereco}}</td>
              <td>{{cliente.telefone}}</td>
              <td>{{cliente.email}}</td>
              <td><button type="button" class="btn btn-info">Editar</button><br>
                  <button type="button" class="btn btn-outline-danger" (click)="deleteItem(item.key)">Delete</button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </main>

