<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    
     <app-sidebar></app-sidebar>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Clientes</h1>
      <hr>
      <br>
      <br>
      <div class="container">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Endereço</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Membro</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>teste@teste.com</td>
              <td><button type="button" class="btn btn-info">Editar</button>
                  <button type="button" class="btn btn-danger">Excluir</button>
              </td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>teste@teste.com</td>
              <td>
                <button type="button" class="btn btn-info">Editar</button>
                <button type="button" class="btn btn-danger">Excluir</button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>teste@teste.com</td>
              <td>
                <button type="button" class="btn btn-info">Editar</button>
                <button type="button" class="btn btn-danger">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </main>

