<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">VetSystem</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button type="button" class="btn btn-outline-info" (click)="signOut()">Logout</button>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes">
              <span data-feather="user"></span>
              Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/animais">
              <span data-feather="github"></span>
              Animais
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/funcionarios">
              <span data-feather="briefcase"></span>
              Funcionários
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="calendar"></span>
              Agendamentos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Atendimentos
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Bem vindo ao VetSystem!</h1>
            <p class="lead">Cadastre, edite e exclua clientes, animais, agendamentos e muito mais</p>
            <button type="button" class="btn btn-link">Tem dúvidas? Acesse sessão de Ajuda</button>
        </div>
    
      <h1>Dashboard</h1>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card text bg-light mb-3 border-left border-success" style="max-width: 18rem;">
            <div class="card-header"><span data-feather="user"></span> CADASTRO DE CLIENTES</div>
            <div class="card-body">
              <p class="card-text">Clientes cadastrados<br>100</p>
                <button type="button" routerLink="/clientes"  class="btn btn-outline-success btn-block">Cadastre</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text bg-light mb-3 border-left border-info" style="max-width: 18rem;">
            <div class="card-header"><span data-feather="github"></span> CADASTRO DE ANIMAIS</div>
            <div class="card-body">
              <p class="card-text">Animais cadastrados<br>20</p>
              <button type="button" routerLink="/animais" class="btn btn-outline-info btn-block">Cadastre</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text bg-light mb-3 border-left border-warning" style="max-width: 18rem;">
            <div class="card-header"><span data-feather="briefcase"></span>  CADASTRO DE FUNCIONÁRIOS</div>
            <div class="card-body">
              <p class="card-text">Funcionários cadastrados<br>50</p>
                <button type="button" routerLink="/funcionarios" class="btn btn-outline-warning btn-block">Cadastre</button>
            </div>
          </div>
        </div>
      </div>
    </main>    
